:root {
    --color-white: #FFF;
    --color-grey: rgb(145, 138, 138);
    --color-black: rgb(26, 24, 24);
    --color-green: rgb(113, 165, 64);
    --color-blue: rgb(33, 25, 109);
    --color-red: rgb(208, 2, 27);
}
